# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/win-64/blas-1.0-mkl.conda
https://conda.anaconda.org/conda-forge/win-64/ca-certificates-2020.12.5-h5b45459_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/icc_rt-2019.0.0-h0cc432a_1.conda
https://repo.anaconda.com/pkgs/main/win-64/intel-openmp-2020.2-254.conda
https://conda.anaconda.org/conda-forge/win-64/msys2-conda-epoch-20160418-1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pandoc-2.11-h9490d1a_0.conda
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.10-0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2020d-h14c3975_0.conda
https://repo.anaconda.com/pkgs/main/win-64/vs2015_runtime-14.27.29016-h5e58377_2.conda
https://repo.anaconda.com/pkgs/main/win-64/winpty-0.4.3-4.conda
https://conda.anaconda.org/conda-forge/win-64/m2w64-gmp-6.1.0-2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/m2w64-libwinpthread-git-5.0.0.4634.697f757-2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/mkl-2020.4-hb70f87d_311.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/vc-14.2-h21ff451_1.conda
https://repo.anaconda.com/pkgs/main/win-64/bzip2-1.0.8-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cfitsio-3.470-he774522_6.conda
https://repo.anaconda.com/pkgs/main/win-64/expat-2.2.10-h33f27b4_2.conda
https://repo.anaconda.com/pkgs/main/win-64/geos-3.8.1-h33f27b4_0.conda
https://conda.anaconda.org/conda-forge/win-64/icu-67.1-h33f27b4_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jpeg-9d-h8ffe710_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libblas-3.9.0-7_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libffi-3.3-h0e60522_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libiconv-1.16-he774522_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libsodium-1.0.18-h62dcd97_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libspatialindex-1.9.3-h33f27b4_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libwebp-base-1.1.0-he774522_3.conda
https://conda.anaconda.org/conda-forge/win-64/lz4-c-1.9.3-h8ffe710_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/m2w64-gcc-libs-core-5.3.0-7.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/openssl-1.1.1i-h8ffe710_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pcre-8.44-ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pixman-0.40.0-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tk-8.6.10-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xerces-c-3.2.3-ha925a31_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xz-5.2.5-h62dcd97_0.conda
https://repo.anaconda.com/pkgs/main/win-64/yaml-0.2.5-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/zlib-1.2.11-h62dcd97_4.conda
https://repo.anaconda.com/pkgs/main/win-64/freexl-1.0.6-h2bbff1b_0.conda
https://conda.anaconda.org/conda-forge/win-64/gettext-0.19.8.1-h1a89ca6_1005.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/hdf4-4.2.13-h712560f_2.conda
https://repo.anaconda.com/pkgs/main/win-64/krb5-1.17.1-hc04afaa_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libboost-1.67.0-hd9e427e_4.conda
https://conda.anaconda.org/conda-forge/win-64/libcblas-3.9.0-7_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/liblapack-3.9.0-7_mkl.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libpng-1.6.37-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libssh2-1.9.0-h7a1dbc1_1.conda
https://repo.anaconda.com/pkgs/main/win-64/libxml2-2.9.10-hb89e7f3_3.conda
https://conda.anaconda.org/conda-forge/win-64/m2w64-gcc-libgfortran-5.3.0-6.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/sqlite-3.33.0-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/zeromq-4.3.3-ha925a31_3.conda
https://conda.anaconda.org/conda-forge/win-64/zstd-1.4.8-h4e2f164_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/freetype-2.10.4-hd328e21_0.conda
https://conda.anaconda.org/conda-forge/win-64/libcurl-7.71.1-h4b64cdc_8.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libglib-2.66.4-h5320221_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libkml-1.3.0-he5f2a48_4.conda
https://conda.anaconda.org/conda-forge/win-64/libpq-12.3-h4f54205_3.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libtiff-4.1.0-h56a325e_1.conda
https://repo.anaconda.com/pkgs/main/win-64/libxslt-1.1.34-he774522_0.conda
https://conda.anaconda.org/conda-forge/win-64/m2w64-gcc-libs-5.3.0-7.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/python-3.9.1-h6244533_2.conda
https://repo.anaconda.com/pkgs/main/noarch/affine-2.3.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/async_generator-1.10-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/attrs-20.3.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/backcall-0.2.0-py_0.conda
https://conda.anaconda.org/conda-forge/win-64/cairo-1.16.0-hd28d34b_1006.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/chardet-4.0.0-py39haa95532_1003.conda
https://repo.anaconda.com/pkgs/main/noarch/click-7.1.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/colorama-0.4.4-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/win-64/curl-7.71.1-h4b64cdc_8.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/decorator-4.4.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/defusedxml-0.6.0-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/entrypoints-0.3-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/noarch/geographiclib-1.50-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/glib-2.66.4-he2d232f_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/hdf5-1.10.6-nompi_h5268f04_1114.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/idna-2.10-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/ipython_genutils-0.2.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/win-64/kiwisolver-1.3.0-py39h604cdb4_0.conda
https://repo.anaconda.com/pkgs/main/win-64/lxml-4.6.2-py39h9b66d53_0.conda
https://repo.anaconda.com/pkgs/main/win-64/markupsafe-1.1.1-py39h2bbff1b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mistune-0.8.4-py39h2bbff1b_1000.conda
https://repo.anaconda.com/pkgs/main/noarch/nest-asyncio-1.4.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/olefile-0.46-py_0.conda
https://conda.anaconda.org/conda-forge/win-64/openjpeg-2.3.1-h48faf41_3.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pandocfilters-1.4.3-py39haa95532_1.conda
https://conda.anaconda.org/anaconda/noarch/parso-0.7.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pickleshare-0.7.5-pyhd3eb1b0_1003.conda
https://conda.anaconda.org/conda-forge/win-64/postgresql-12.3-h0f1a9bc_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/proj-7.1.1-h7d85306_3.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/prometheus_client-0.9.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.20-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyrsistent-0.17.3-py39h2bbff1b_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyshp-2.1.2-py_0.conda
https://conda.anaconda.org/conda-forge/win-64/python_abi-3.9-1_cp39.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytz-2020.5-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pywin32-228-py39he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pywinpty-0.5.7-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pyyaml-5.3.1-py39h2bbff1b_1.conda
https://repo.anaconda.com/pkgs/main/win-64/pyzmq-20.0.0-py39hd77b12b_1.conda
https://repo.anaconda.com/pkgs/main/win-64/rtree-0.9.4-py39h2eaa2aa_1.conda
https://repo.anaconda.com/pkgs/main/noarch/send2trash-1.5.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/win-64/six-1.15.0-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/noarch/testpath-0.4.4-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/threadpoolctl-2.1.0-pyh5ca1d4c_0.conda
https://repo.anaconda.com/pkgs/main/win-64/tornado-6.1-py39h2bbff1b_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/webencodings-0.5.1-py39haa95532_1.conda
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.36.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/win-64/win_inet_pton-1.1.0-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/win-64/wincertstore-0.2-py39h2bbff1b_0.conda
https://repo.anaconda.com/pkgs/main/noarch/zipp-3.4.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/win-64/certifi-2020.12.5-py39hcbf5309_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cffi-1.14.4-py39hcd4344a_0.conda
https://repo.anaconda.com/pkgs/main/noarch/click-plugins-1.1.1-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cligj-0.7.1-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/win-64/cycler-0.10.0-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/noarch/geopy-2.1.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/geotiff-1.6.0-h8884d1a_3.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/importlib-metadata-2.0.0-py_1.conda
https://repo.anaconda.com/pkgs/main/win-64/jedi-0.18.0-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/win-64/kealib-1.4.14-ha3510f1_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libnetcdf-4.7.4-nompi_h3a9aa94_107.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libspatialite-5.0.0-hf693123_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl-service-2.3.0-py39h196d8e1_0.conda
https://conda.anaconda.org/conda-forge/win-64/numpy-1.19.5-py39h6635163_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/packaging-20.8-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pillow-8.1.0-py39h4fa10fc_0.conda
https://conda.anaconda.org/conda-forge/win-64/poppler-0.89.0-h5d62644_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pyproj-2.6.1.post1-py39hd2b018c_3.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pysocks-1.7.1-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.1-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/terminado-0.9.2-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/win-64/tiledb-2.1.6-hf84e3da_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/traitlets-5.0.5-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/argon2-cffi-20.1.0-py39h196d8e1_1.conda
https://repo.anaconda.com/pkgs/main/win-64/brotlipy-0.7.0-py39h2bbff1b_1003.conda
https://repo.anaconda.com/pkgs/main/win-64/cryptography-3.3.1-py39hcd4344a_0.conda
https://repo.anaconda.com/pkgs/main/noarch/importlib_metadata-2.0.0-1.conda
https://repo.anaconda.com/pkgs/main/win-64/jupyter_core-4.7.0-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/win-64/libgdal-3.1.4-h0e5aa5a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pandas-1.2.0-py39hf11a4ad_0.conda
https://repo.anaconda.com/pkgs/main/win-64/scipy-1.5.2-py39h14eb087_0.conda
https://repo.anaconda.com/pkgs/main/win-64/setuptools-51.1.2-py39haa95532_3.conda
https://conda.anaconda.org/conda-forge/win-64/shapely-1.7.1-py39hdfdf89f_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/snuggs-1.4.7-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/bleach-3.2.1-py_0.conda
https://conda.anaconda.org/conda-forge/win-64/gdal-3.1.4-py39hda8168b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jinja2-2.11.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/joblib-1.0.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jsonschema-3.2.0-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/jupyter_client-6.1.7-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/matplotlib-base-3.3.2-py39h35d3fe4_0.conda
https://conda.anaconda.org/conda-forge/noarch/mercantile-1.1.6-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/munch-2.5.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/networkx-2.5-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/patsy-0.5.1-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pip-20.3.3-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pygments-2.7.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyopenssl-20.0.1-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/win-64/rasterio-1.1.8-py39hfec4536_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/cartopy-0.18.0-py39h939a7e0_7.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/descartes-1.1.0-py_4.conda
https://conda.anaconda.org/conda-forge/win-64/fiona-1.8.18-py39he2373ac_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/jupyterlab_pygments-0.1.2-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/nbformat-5.0.8-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/prompt-toolkit-3.0.8-py_0.conda
https://repo.anaconda.com/pkgs/main/win-64/scikit-learn-0.23.2-py39hf11a4ad_0.conda
https://conda.anaconda.org/conda-forge/noarch/seaborn-base-0.11.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/statsmodels-0.12.1-py39h2bbff1b_0.conda
https://repo.anaconda.com/pkgs/main/noarch/urllib3-1.26.2-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/geopandas-0.8.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/ipython-7.19.0-py39haa95532_0.conda
https://repo.anaconda.com/pkgs/main/noarch/mapclassify-2.4.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/nbclient-0.5.1-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/requests-2.25.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/win-64/seaborn-0.11.1-h57928b3_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/contextily-1.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/ipykernel-5.3.4-py39h7b7c402_0.conda
https://repo.anaconda.com/pkgs/main/win-64/nbconvert-6.0.7-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/noarch/watermark-2.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/geoplot-0.4.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/notebook-6.1.6-py39haa95532_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_contrib_core-0.3.3-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jupyter_highlight_selected_word-0.2.0-py39hde42818_1002.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jupyter_latex_envs-1.4.6-py39hde42818_1001.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jupyter_nbextensions_configurator-0.4.1-py39hde42818_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/jupyter_contrib_nbextensions-0.5.1-py39hde42818_1.tar.bz2
